.appearanceImg{
  width: 130px;
  height: 130px;
  border-radius: 100%;
}
.weraperAppearanceImg{
  text-align: center;
}
.txtPatern{
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    border-right: solid 4px rgb(25,100,57);
    border-left: solid 4px rgb(25,100,57);
    background-color:  rgb(241, 241, 241);
    box-shadow: 0px 0px 1px;
    color: rgb(25,100,57);
    font-weight: 500;
    
}