

.accordion-button {
    color: #ffffff;
    background-color: rgb(243, 197, 197);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);

}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: rgb(25, 100, 57);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    border: solid rgb(25, 100, 57);
    
}
.accordion-header{
    text-align: center;
    font-weight: bold;
}