.MyWord {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin-bottom: 20px;
    color: rgb(25,100,57);
 } 
 
 .MyWord span { 
     background:#fff; 
     padding:0 10px; 
     color: rgb(25,100,57);

 }