.sidenav {
    margin-top: 70px;
    height: 100%; 
    width:0px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: rgb(228,167,171); 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s; 
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(25,100,57);
    display: block;
    transition: 0.3s;
    margin-top: 15px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    top: 0;
    font-size: 25px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }