.showServiseP {
    text-align: center; 
    color: rgb(25,100,57);
    font-weight: bold;
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
  
  
  @keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  .offerParagraph{
    padding: 2px;
    color:rgb(25,100,57) ;
    background-color: rgb(228,167,171);
    text-align: center;
    font-size: small;
  }

  .instegramBtn{
    position:fixed;
    width:60px;
    height:100px;
    bottom:90px;
    right:35px;
    
  }