.A-float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:70px;
	right:40px;
	background-color:#00752b;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.A-my-float{
	margin-top:10px;
}

.A-my-float:hover{
	color: pink;
}